.container {
    background-color: #3b6988;
    grid-row: span 2;
    text-align: center;
}

h1, p {
    color: white;
    font-family: 'Segoe UI';
}

h1 {
    font-size: 36px;
}

p {
    font-size: 18px;
}