.prosjekter-container {
    display: grid;
    grid-row: span 2;
    background-color: #284e68;
}


.prosjekt-info {
    margin: 20px;
    background-color: #0e2e44;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.pro1{ /* Elementet med bilde*/
    margin: 20px;
    background-image: url("../bilder/nettsideprosjekt.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.prosjekt-inner{ /* Legger blur til bilde, samt ansvarlig for tekst*/
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    text-align: center;
}

h1, p { /* Endring av default-verdier*/
    color: white;
    font-family: 'Segoe UI';
}

h1 {
    font-size: 36px;
}

p {
    font-size: 18px;
}