.prosjekter-container {
    display: grid;
    grid-row: span 2;
    background-image: linear-gradient(to right, #0e2e44, #325d7a);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}


.prosjekt-info {
    background-color: #325d7a;
    margin: 20px;
}

.center {
    max-height: 75%;  
    max-width: 75%; 
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

txt {
    color: white;
    font-size: 24px;
    font-family: 'Segoe UI';
}